{% extends 'base.html.twig' %}

{% block title %}Modification
{% endblock %}
{% block monTitre %}Modification
	{{ aliment.nom }}

{% endblock %}

{% block body %}

	{{ form_start(form) }}
<div class="row">
<div class="col-6">
	{{ form_widget(form) }}

</div>

<div class="col-6">
	{{ form_widget(form) }}
</div>

	{{ form_end(form) }}

<input type="submit" value="Enregistrer" class="btn btn-primary" href="">
{% endblock %}
